.level-1,
.level-2,
.level-3,
.level-4,
.level-5 {
	display: flex;
	margin-bottom: 15px;

	.identifier,
	.level-txt,
	.section-subtitle {
		&.done {
			text-decoration: line-through;
			text-decoration-color: crimson;
			text-decoration-thickness: 3px;
		}
	}

	.identifier {
		font-weight: bold;
		margin-right: 5px;
	}

	&.checklist {
		position: relative;

		.checkbox {
			position: absolute;
			top: 1.5px;
			left: 0;
			padding: 0;

			svg {
				fill: var(--highlight) !important;
			}
		}

		.level-txt,
		.section-subtitle {
			text-indent: 30px;
		}
	}
}

.level-1 {
	margin-left: 15px;

	.section-subtitle {
		font-weight: bold;
	}
}

.level-2 {
	margin-left: 30px;
}

.level-3 {
	margin-left: 40px;

	&.component {
		margin-left: 70px;
	}
}

.level-4 {
	margin-left: 60px;
}

.level-5 {
	margin-left: 75px;

	.identifier {
		font-style: italic;
	}
}
