#subnets {
	// height: calc(100vh - 164px);
	height: inherit;
	display: flex;
	flex-direction: column;
	padding: 20px;
	position: relative;
	overflow-y: scroll;
	// border: 2px solid green;

	.master-wrapper {
		margin-bottom: 10px;
		// height: 40%;
		// overflow: scroll;
		// border: 1px solid dodgerblue;

		.slash {
			cursor: pointer;

			&.active {
				color: crimson;
				background-color: black;
				font-weight: bold;
				padding: 1px;
				border-radius: 20px;
			}
		}
	}

	.sub-wrapper {
		max-height: 59%;
		overflow: scroll;
		// border: 1px solid red;

		.sub-table {
			display: flex;
			flex-direction: column;

			.sub-paper {
				width: 100%;
				overflow: hidden;
			}
		}
	}
}
