#reset {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	form {
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px 0;

		.error {
			margin-bottom: 15px;
			color: var(--error);
			text-align: center;
		}
	}

	.response-container {
		width: 60%;
		margin-top: 10px;
		text-align: center;

		p {
			line-height: 1.5;
			font-weight: bold;
			font-size: 13px;

			span {
				vertical-align: middle;
				margin-right: 5px;
			}

			&.success-message {
				color: green;
			}

			&.error-message {
				color: var(--error);
			}
		}
	}
}
