.btn {
	width: 70%;
	padding: 10px 45px;
	border-radius: 20px;
	border: none;
	background-color: var(--btn-background);
	color: var(--home-txt);
	font-weight: bold;
	cursor: pointer;

	&.dialog-btn {
		width: 30%;
	}

	&.new-note-trigger {
		position: absolute;
		top: 25px;
		right: 25px;
		z-index: 5;
	}

	&:hover {
		box-shadow: var(--elevation);
	}
}

// @media only screen and (min-width: 600px) {
// 	.btn {
// 		box-shadow: none;
// 		transition: all 0.4s;

// 		&:hover {
// 			box-shadow: var(--elevation);
// 		}
// 	}
// }
