#voice-order {
	flex: 1;
	flex-direction: column;
	position: relative;

	.back-link {
		position: absolute;
		top: 0;
		left: 10px;
		color: var(--txt-primary);
		cursor: pointer;
	}

	.title {
		margin-top: 40px;
		margin-bottom: 20px;
	}

	section {
		text-align: left;
		padding: 0 20px;
		text-wrap: pretty;
		margin-bottom: 10px;

		.section-title {
			font-weight: bolder;
			margin-bottom: 10px;
		}

		.identifier {
			font-weight: bold;
			margin-right: 5px;
		}

		.level1,
		.level2,
		.level3 {
			display: flex;
			margin-bottom: 5px;
		}

		.level1 {
			margin-left: 15px;
		}

		.level2 {
			margin-left: 30px;
		}

		.level3 {
			margin-left: 40px;
		}
	}
}
