#checklist {
	height: calc(100vh - 168px);

	.client-container {
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.checklist-container {
		height: calc(100vh - 220px);
		padding: 15px 0;
		overflow-y: scroll;

		section {
			text-align: left;
			padding: 0 20px;
			text-wrap: pretty;
			margin-bottom: 10px;
		}
	}
}
