#subnets {
	height: inherit;
	display: flex;
	flex-direction: column;
	padding: 20px;
	position: relative;
	overflow-y: scroll;

	.main-container {
		height: fit-content;
		margin-bottom: 10px;

		.master-wrapper {
			margin-bottom: 10px;

			.slash {
				cursor: pointer;

				&.active {
					color: crimson;
					background-color: black;
					font-weight: bold;
					padding: 1px;
					border-radius: 20px;
				}
			}
		}

		.sub-wrapper {
			max-height: 65%;
			overflow: scroll;

			.sub-table {
				display: flex;
				flex-direction: column;

				.sub-paper {
					width: 100%;
					overflow: hidden;
				}
			}
		}
	}

	.template-container {
		min-height: fit-content;
		display: flex;
		flex-direction: column;
		gap: 15px;
		align-items: center;
		margin-top: 10px;

		.radio-label {
			text-align: left;
			color: var(--txt-primary);
		}

		.example {
			margin: 15px 0;
		}
	}

	&.dark {
		.MuiDivider-root::before,
		.MuiDivider-root::after {
			border-color: rgba(255, 255, 255, 0.12);
		}

		.divider-chip {
			background-color: var(--txt-heading-shadow);
			color: var(--txt-heading);
		}
	}
}
