.app {
	background-color: var(--background);
	color: var(--txt-primary);
	transition: all 0.5s;
	/* background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: calc(10px + 2vmin);
	color: white; */
}

.section-title {
	font-weight: bolder;
	margin-bottom: 10px;
}

.link {
	color: steelblue;
	font-weight: bold;
	text-decoration: none;
}

.underline {
	text-decoration: underline;
}

.bold {
	font-weight: bold;
}

.internal,
.field-nation {
	font-weight: bold;
}

.internal {
	color: green;
}

.field-nation {
	color: crimson;
}
